<h1>Lists<h2>
<table>

<% @lists.each do |l| %>
    <tr>
    <p>
    <%= link_to "#{l.name}", list_path(l) %></br> 
    Description: <%= l.description %>
    </p>
    </tr>
</table>
<% end %>