<% if user_signed_in? %>
<h1 style="text-align:center">Hello <%= current_user.name %></h1>
<% end %>
<h1 style="text-align:center">Welcome to the List Builder</h1>
<h2 style="text-align:center">You can create list for any type of catagory by using this app</h2>